/* styles.css */

* {
    color: black;
    background-color: white;
    text-align: center;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
}

.food {
    padding: 40px;
    margin: 15px;
}