/* styles.css */

div {
    color: black;
    background-color: white;
    text-align: center;
}

p {
    color: black;
    background-color: white;
    text-align: center;
}

ul {
    color: black;
    background-color: white;
    text-align: center;
}

ol {
    color: black;
    background-color: white;
    text-align: center;
}

li {
    color: black;
    background-color: white;
    text-align: center;
}

h1 {
    color: black;
    background-color: white;
    text-align: center;
}

h2 {
    color: black;
    background-color: white;
    text-align: center;
}

h3 {
    color: black;
    background-color: white;
    text-align: center;
}

h4 {
    color: black;
    background-color: white;
    text-align: center;
}